.table-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: #004E98;
    -fx-background-radius: 10 10 0 0;
    -fx-padding: 0 0 5 0;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-size: 40;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 10;
}

.table-row-cell:hover {
    -fx-background-color: #EBEBEB;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 10;
    -fx-alignment: CENTER;
}

.table-view .placeholder .label {
    -fx-text-fill: #3A6EA5;
}